### Random Forest

In [10]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [29]:
data=fetch_california_housing()

X_train,X_test,Y_train,Y_test=sklearn.model_selection.train_test_split(data.data,data.target,test_size=0.25,random_state=42)

x_train=pd.DataFrame(X_train,columns=data.feature_names)
y_train=pd.DataFrame(Y_train,columns=['target'])

x_test=pd.DataFrame(X_test,columns=data.feature_names)
y_test=Y_test

x_train.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,4.2143,37.0,5.288235,0.973529,860.0,2.529412,33.81,-118.12
1,5.3468,42.0,6.364322,1.087940,957.0,2.404523,37.16,-121.98
2,3.9191,36.0,6.110063,1.059748,711.0,2.235849,38.45,-122.69
3,6.3703,32.0,6.000000,0.990196,1159.0,2.272549,34.16,-118.41
4,2.3684,17.0,4.795858,1.035503,706.0,2.088757,38.57,-121.33

In [32]:
Y_train

array([2.285, 2.799, 1.83 , ..., 2.221, 2.835, 3.25 ])

In [15]:
model=RandomForestRegressor(n_estimators=100,min_samples_leaf=3,n_jobs=-1)
model.fit(x_train,y_train)

C:\Users\pk764\AppData\Local\Temp\ipykernel_1812\703001374.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

RandomForestRegressor(min_samples_leaf=3, n_jobs=-1)

In [20]:
abs_err=np.abs(model.predict(x_test)-y_test)
for q in [10,50,90]:
    print(f'error at {q} percentile: {np.percentile(a=abs_err,q=q)}')

error at 10 percentile: 0.032735107714286206
error at 50 percentile: 0.20783923279401118
error at 90 percentile: 0.7757163797651518

In [21]:
# import joblib
# path='/models/model.joblib'
# joblib.dump(model,path)